<header class='page'>page header</header>
<ng-template [ngIf]='article$ | async' let-item>
    <article>
        <header class='article'>article header</header>
        <img [src]='item.brandPhoto' class='brand-photo' />
        <p class='brand'>{{ item.brand }}</p>
        <p class='title'>{{ item.title }}</p>
        <p class='text'>{{ item.text }}</p>
        <footer class='article'>article footer</footer>
    </article>
    <section class='comment-section'>
        <header class='comment-section'>comment section header</header>
        <app-comment *ngFor='let comment of item.comments' [comment]='comment'></app-comment>
        <ng-container *ngTemplateOutlet='(userService.loggedIn$ | async) ? loggedIn : notLoggedIn; context: { article: item };'>
        </ng-container>
        <footer class='comment-section'>comment section footer</footer>
    </section>
</ng-template>
<footer class='page'>page footer</footer>

<ng-template #loggedIn let-item='article'>
    <label for='comment'>Comment: </label>
    <textarea class='comment' name='comment' id='comment'></textarea>
</ng-template>

<ng-template #notLoggedIn>
    <p class='log-in-reminder'></p>
</ng-template>