<ng-container *ngIf='userService.loggedIn$ | async; then loggedIn; else notLoggedIn;'>
</ng-container>

<ng-template #loggedIn>
    <ng-template [ngIf]='article$ | async' let-item>
        <article>
            <header class='article'>article header</header>
            <span class='title'>{{ item.title }}</span>
            <span class='text'>{{ item.text }}</span>
            <span class='brand'>{{ item.brand }}</span>
        </article>
        <section class='comment-section'>
            <label for='comment'>Comment: </label>
            <textarea class='comment' name='comment' id='comment'></textarea>
        </section>
    </ng-template>
</ng-template>

<ng-template #notLoggedIn>
    <ng-template [ngIf]='article$ | async' let-item>
        <article>
            <header class='article'>article header</header>
            <span class='title'>{{ item.title }}</span>
            <span class='text'>{{ item.text }}</span>
            <span class='brand'>{{ item.brand }}</span>
        </article>
        <section class='comment-section'>
            <span class='log-in-reminder'></span>
        </section>
    </ng-template>
</ng-template>