<ng-template ngFor let-item [ngForOf]='excerpts$ | async'>
    <a href='/read/articles/{{ item.articleIdentifier }}' [routerLink]='["/read/articles/", item.articleIdentifier]'>
        <div>
            <span class='brand'>{{ item.brand }}</span>
            <img [src]='item.brandPhoto' class='brand-photo' />
            <span class='title'>{{ item.title }}</span>
            <span class='text'>{{ item.text }}</span>
            <span class='editors'>{{ item.editors }}</span>
        </div>
    </a>
</ng-template>