<ng-container *ngIf='userService.loggedIn$ | async; then loggedIn; else notLoggedIn;'>
</ng-container>

<ng-template #loggedIn>
    <header class='page'>page header</header>
    <form class='article' [formGroup]='formGroup'>
        <article class='article'>
            <header class='article'>article header</header>
            <section class='edit'>
                <div>
                    <label for='title'>Title</label>
                    <input name='title' id='title' formControlName='title'/>
                    <p class='error-message' *ngIf='formGroup.get("title")?.errors?.required'>Please provide a title.</p>
                </div>
                <div>
                    <label for='text'>Text</label>
                    <textarea name='text' id='text' formControlName='text'></textarea>
                    <p class='error-message' *ngIf='formGroup.get("text")?.errors?.required'>Please provide some content.</p>
                </div>
            </section>
            <section class='action'>
                <input type='radio' name='operation' formControlName='operation' value='saveOnly' id='saveOnlyOperation' />
                <label for='saveOnlyOperation'>Save Article and Return to List</label>
                <input type='radio' name='operation' formControlName='operation' value='saveAndRequestEdit' id='saveAndRequestEditOperation' />
                <label for='saveAndRequestEditOperation'>Save Article and Request an Editorial Review</label>
                <input type='radio' name='operation' formControlName='operation' value='saveAndRequestCheck' id='saveAndRequestCheckOperation' />
                <label for='saveAndRequestCheckOperation'>Save Article and Request a Fact Check</label>
                <button (click)='done()'>Done</button>
            </section>
            <footer class='article'>article footer</footer>
        </article>
    </form>
    <footer class='page'>page footer</footer>
</ng-template>

<ng-template #notLoggedIn>
</ng-template>