<div *ngIf='userService.loggedIn$ | async'>
    <table cdk-table [dataSource]='data'>
        <ng-container cdkColumnDef='test'>
            <th cdk-header-cell *cdkHeaderCellDef> Test </th>
            <td cdk-cell *cdkCellDef='let element'> {{ element.test }} </td>
            <td cdk-footer-cell *cdkFooterCellDef></td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: columns;"></tr>
        <tr cdk-footer-row *cdkFooterRowDef="columns"></tr>
    </table>

    <mat-tab-group>
        <mat-tab label="Draft"> Article List waiting for completion </mat-tab>
        <mat-tab label="Request"> Article List waiting for Editorial Review or Fact Check </mat-tab>
        <mat-tab label="Out For Edit"> Article List pending Editorial Review </mat-tab>
        <mat-tab label='Out For Check'> Article List pending Fact Check </mat-tab>
        <mat-tab label='Ready'> Ready Article List </mat-tab>
        <mat-tab label='Published'> Published Article List </mat-tab>
    </mat-tab-group>
</div>

