<div *ngIf='userService.loggedIn$ | async'>

    <mat-tab-group>
        <mat-tab label="Draft">
            <ng-template matTabContent>
                <ng-container *ngTemplateOutlet='articleTable; context: {data: data$ | async, columns: columns$ | async}'></ng-container>
            </ng-template>
        </mat-tab>
        <mat-tab label="Request"> Article List waiting for Editorial Review or Fact Check </mat-tab>
        <mat-tab label="Out For Edit"> Article List pending Editorial Review </mat-tab>
        <mat-tab label='Out For Check'> Article List pending Fact Check </mat-tab>
        <mat-tab label='Ready'> Ready Article List </mat-tab>
        <mat-tab label='Published'> Published Article List </mat-tab>
    </mat-tab-group>

    <ng-template #articleTable let-data='data' let-columns='columns'>
        <table cdk-table [dataSource]='data'>
            <ng-container cdkColumnDef='title'>
                <th cdk-header-cell *cdkHeaderCellDef> Title </th>
                <td cdk-cell *cdkCellDef='let element'> {{ element.title }} </td>
                <td cdk-footer-cell *cdkFooterCellDef></td>
            </ng-container>
            <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: columns;"></tr>
            <tr cdk-footer-row *cdkFooterRowDef="columns"></tr>
        </table>
    </ng-template>
</div>