<header class='page'>page header</header>
<ng-container *ngIf='template$ | async as template;'>
  <ng-container *ngIf='formGroup$ | async as formGroup;'>
    <form class='template' [formGroup]='formGroup'>
      <article class='template'>
        <header class='article'>article header</header>
        <section class='edit'>
          <input
            name='*-document-name'
            id='*-document-name'
            formControlName='*-document-name'
            type='text' />
          <fieldset class='placeholders'>
            <ng-container *ngFor='let placeholder of placeholders$ | async'>
              <div>
                <label [for]='placeholder.name'>{{ placeholder.name }}{{ placeholder.optional ? '' : '*' }}</label>
                <ng-container [ngSwitch]='placeholder.dataType'>
                  <input
                    [name]='placeholder.name'
                    [id]='placeholder.name'
                    [formControlName]='placeholder.name'
                    type='text'
                    *ngSwitchCase='"string"'
                    [required]='placeholder.optional ? false : "required"' />
                  <input
                    [name]='placeholder.name'
                    [id]='placeholder.name'
                    [formControlName]='placeholder.name'
                    type='number'
                    *ngSwitchCase='"number"'
                    [required]='placeholder.optional ? false : "required"' />
                  <select
                    [name]='placeholder.name'
                    [id]='placeholder.name'
                    [formControlName]='placeholder.name'
                    *ngSwitchCase='"select"'
                    [required]='placeholder.optional ? false : "required"'>
                    <option *ngFor='let option of placeholder.options' [value]='option'>{{ option }}</option>
                  </select>
                  <p class='error-message' *ngIf='formGroup.get(placeholder.name)?.errors?.required'>A value for this placeholder is required.</p>
                </ng-container>
              </div>
            </ng-container>
          </fieldset>
        </section>
        <section class='action'>
          <button
            class='create'
            [disabled]='!formGroup.valid'
            (click)='createDocument(template.text, formGroup)'>
            Create Document
          </button>
        </section>
        <footer class='article'>article footer</footer>
      </article>
    </form>
  </ng-container>
</ng-container>
<footer class='page'>page footer</footer>